<h1>My Registered Applications</h1>
<% @apps.each do |app| %>
  <p><%= link_to app.name, app %> | <%= link_to "Remove App", app, method: :delete, class: 'text-danger', data: {confirm: 'Are  you sure you want to delete this app?'} %></p>
<% end %>
